.header {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 88px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 40px;
  box-sizing: border-box;
  align-items: center;
  .left {
    display: flex;
    align-items: center;
    > ul {
      margin-left: 60px;
      display: flex;
      height: 100%;
      > li {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 10px;
        position: relative;
        > span {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
