.header {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 88px;
  z-index: 999;

  .header-inner {
    padding-left: 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left {
    display: flex;
    height: 100%;
    .logo {
      width: 170px;
      display: block;
      cursor: pointer;
      height: auto;
      background: red;
      background: url(./../../public/images/common/header-logo.svg) center
        no-repeat;
    }
    .nav {
      display: flex;
      margin-left: 60px;
      height: 100%;
      li.nav-item {
        padding: 0 10px;
        display: flex;
        align-items: center;
        // position: relative;
        > span {
          color: white;
          cursor: pointer;
        }
        .gnb-menu {
          position: absolute;
          top: 88px;
          left: 0;
          width: 100%;
          background: #fff;
          padding: 20px;
          display: flex;
          height: 300px;
          pointer-events: auto;
          .gnb-title {
            display: flex;
            align-items: center;
            padding-left: 10px;
            min-width: 200px;
            height: 30px;

            &::before {
              content: "";
              width: 5px;
              height: 5px;
              border-radius: 100%;
              background: #30ae56;
              margin-right: 8px;
              display: inline-flex;
              margin-top: -5px;
            }
          }
          .depth1-menu {
            width: 200px;
            position: relative;
            li span,
            li a {
              cursor: pointer;
              display: block;
              width: 100%;
              padding: 10px 0 10px 60px;
              &:hover {
                background: rgba(48, 174, 86, 0.1);
                color: #30ae56;
              }
            }
            &::after {
              content: "";
              width: 1px;
              height: calc(100% + 40px);
              background: #ccc;
              position: absolute;
              top: -20px;
              right: 0px;
            }
          }
          .depth2-menu {
            height: 100%;
            position: absolute;
            top: 0;
            left: 200px;
            width: 100%;
            li {
              display: block;
            }
            li a {
              display: block;
            }
          }
        }
      }
    }
  }
  .right {
    // color: wheat;
    height: 100%;
    ul {
      display: flex;
      height: 100%;
      li {
        padding: 0 10px;
        display: flex;
        align-items: center;
        span {
          color: #30ae56;
        }
      }
      li.search-btn {
        width: 100px;
        justify-content: center;
        border-left: 1px solid #ccc;
        button {
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
          cursor: pointer;
        }
        .search-area {
          position: fixed;
          top: 88px;
          left: 0;
          width: 100%;
          background: #fff;
          padding: 100px 40px;
          .input-box {
            position: relative;
            height: 50px;
            display: flex;
            border-bottom: 1px solid black;
            input {
              width: 100%;
              &:focus,
              &:active {
                border: 1px solid transparent;
              }
            }
            button {
              width: 50px;
              height: 50px;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.header[class*="open"] {
  a.logo {
    background-image: url(./../../public/images/common/header-logo-open.svg);
  }
  background: #fff;
  border-bottom: 1px solid #ccc;
  transition: ease-in-out 0.2s;
  .header-inner {
    background: #fff;
    width: 100%;
    height: 100%;
  }
  &.open {
    // background: red;
    li.nav-item {
      > span {
        color: #000;
      }
    }
  }
  &.open-search {
    .nav,
    li.changeLan {
      display: none;
    }
  }
  &::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
}
