.subPage-main {
  height: 100vh;
  padding-top: 0;
  color: #fff;

  video {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100% !important;
  }
}

.main-inner {
  width: 100%;
  z-index: 0;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 88px;

  .main-screen {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .flex {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(48, 174, 86, 0.2);

    @media (min-width: 1024px) {
      padding: 40px;
    }
  }
}

.title-area {
  .title-line {
    span {
      display: block;
      font-size: 40px;
      border-bottom: 1px solid #fff;
      margin-bottom: 10px;
    }
  }
  .sub-text {
    text-align: right;
  }
}
