.popup {
  &::before {
    content: "";
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}
.inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 580px;
  background: white;
  z-index: 999;
  border-radius: 8px;
  .img-area {
    padding: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }
  .text-area {
    padding: 20px;
    .category,
    .time {
      font-size: 14px;
    }
    .title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
    }
    .time {
      color: #a7a7a7;
    }
  }
  .bottom-area {
    position: absolute;
    bottom: -40px;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    button {
      cursor: pointer;
    }
  }
}

.swiper-pagination {
  bottom: 128px !important;
  width: fit-content !important;
  left: auto !important;
  right: 10px !important;
}
label {
  display: flex;
  align-items: center;

  .MuiCheckbox-root {
    color: white;

    &.Mui-checked {
      color: white;
    }
  }
}
