.exterior-list {
  border-top: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  padding: 20px;
  .right {
    grid-column: span 3 / span 3;
  }
}

.mySwiper {
  background: red;
  position: absolute;
  top: 20px;
  left: 20px;
  //   width: calc;
}
