.exterior-list {
  border-top: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  padding: 20px;
  .right {
    grid-column: span 3 / span 3;
  }
  .title-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mySwiper {
  // background: red;
  // position: absolute;
  // bottom: 20px;
  // left: 20px;
  // width: calc(100% - 40px);
  //   width: calc;
  .img {
    width: 200px;
    height: 100px;
    border: 1;
    background: rgb(255 255 255 / 0.1);
    border: 1px solid rgb(255 255 255 / 0.1);
  }
}
