#AutomotiveContent {
  position: relative;
  .tab-bg-img {
    position: relative;

    image {
      width: 100%;
      opacity: 1;
      transition: opacity 0.8s ease-in-out;
    }
  }
  .top-box {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    &.isWhite {
      color: #fff;
    }
    .title-area {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      margin-bottom: 20px;
      .title {
        font-size: 40px;
        width: 50%;
      }
      .sub-title {
        width: 50%;
      }
    }
  }
  .pins-area {
    .pin {
      display: block;
      width: 200px;
      background: green;
      padding: 10px;
      border-radius: 10px;
      color: #fff;
      position: relative;
      z-index: 10;
      p.title {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        justify-content: space-between;
        padding-bottom: 5px;
        &:after {
          content: "+";
        }
      }
      ul.pin-list {
        padding: 10px 10px 0 10px;
        font-size: 12px;
        li + li {
          margin-top: 5px;
        }
      }
    }
  }
  .pin-point {
    width: 24px;
    height: 24px;
    background: url("/images/icon/ico-plus-circle.svg") center no-repeat;
    cursor: pointer;
  }
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border: 2px solid rgb(48, 174, 86);
    border-radius: 50%;
    opacity: 0.2;
    transform: translate(-50%, -50%);
    animation: 1.5s ease 0s infinite normal none running expand;
  }
  @keyframes expand {
    0% {
      width: 24px;
      height: 24px;
      opacity: 1;
    }
    100% {
      width: 80px;
      height: 80px;
      opacity: 0;
    }
  }
}

.tab-area {
  .tab {
    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border: 1px solid green;
      border-radius: 100%;
      display: inline-flex;
    }
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    opacity: 0.5;
  }
  .tab.active {
    opacity: 1;
    &::before {
      background: green;
    }
  }
}
