#AutomotiveContent {
  //   padding: 40px 20px;
  position: relative;
  .tab-bg-img {
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: -1;
    // height: fit-content;
  }
  .top-box {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.tab-area {
  .tab {
    &::before {
      content: "";
      width: 8px;
      height: 8px;
      //   background: green;
      border: 1px solid green;
      border-radius: 100%;
      display: inline-flex;
    }
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    opacity: 0.5;
  }
  .tab.active {
    opacity: 1;
    &::before {
      background: green;
    }
  }
  .tab.interior {
    color: #fff !important;
  }
}
